:root {
  --dark-color: #809bce;
  --mid-color: #a4cfdd;
  --light-color: #b8e0d2;

  --dark-color-shadow: #667ca5;
  --mid-color-shadow: #83a6b1;
  --light-color-shadow: #93b3a8;

  /* font sizes */
  --big-font: 2rem;
  --small-font: 1rem;
}

* {
  /*cursor: none;*/
}

html,
body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  height: 100vh;
  margin: 0;
}

a {
  user-select: none;
  -webkit-user-drag: none;
}

fieldset {
  padding: 0;
}

#statement-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: auto 40px 40px;
  padding: 32px;
  gap: 64px;
}

#statement-selector > .argument {
  margin-top: 32px;
  margin-bottom: 32px;
  min-height: 15vh;
  font-size: var(--big-font);
}

.pointer_off {
  pointer-events: none;
}

#choice-container {
  display: flex;
  align-items: center;
  margin-top: -100px;
}

#opinion-container {
  order: -1;
}

fieldset {
  border: 0;
}

pre {
  font-family: "Inter", sans-serif;
  white-space: pre-line;
  height: 70vh;
  padding: 1em 0em 1em 0em;
  margin: 1em 0 0 0;
  scroll-behavior: smooth;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  max-width: 1280px;
  margin: auto;
}

#opinion,
#arguments {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 0.8em;
  transition: 3s ease-out;
  font-size: var(--big-font);
}

#opinion {
  height: fit-content;
}

#opinion div:nth-of-type(2) {
  grid-column: 1;
  grid-row: 2;
}

#opinion div:nth-of-type(3) {
  grid-column: 2;
}

#opinion div:nth-of-type(4) {
  grid-column: 2;
}

#opinion div:nth-of-type(5) {
  grid-column: 3;
  grid-row: 1;
}

#opinion div:nth-of-type(6) {
  grid-column: 3;
  grid-row: 2;
}

.alternate-argument {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.argument {
  border-radius: 10px;
  line-height: 150%;
  width: 25vw;
  border: solid 0.5px #cccccc;
  transition: 0.25s ease-in-out;
  font-size: 0.7em;
  padding: 1em 1em;
}

.argument:hover,
.argument:focus {
  background-color: #545cef;
  color: #ffffff;
}

.first-argument-row {
  background-color: #ffffff;
}

.second-argument-row {
  background-color: #ffffff;
}

.third-argument-row {
  background-color: #ffffff;
}

.second-argument {
  margin-bottom: 1em;
}

.alternate-arguments.show {
  position: relative;
  top: 1rem;
}

.arg-label,
.rep-label {
  max-width: 80%;
  margin: 0 auto;
  line-height: 200%;
  font-size: var(--big-font);
  user-select: none;
}

.smaller-text {
  font-size: 1rem;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  background: #ffff33;
}

.htmx-indicator {
  margin: 8px;
}

#main-form,
#word-loader {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 0;
  font-size: var(--big-font);
  line-height: 200%;
}

#main-form::-webkit-scrollbar {
  display: none;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 99vw;
  height: 6vh;
  margin-top: auto;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  margin-bottom: 16px;
}

#word-loader,
.word-loader-style {
}

#word-input {
  font-size: var(--big-font);
  width: auto;
  text-align: center;
  display: none;
  border: none;
}

#statement-change-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: auto 40px 40px;
  padding: 32px;
  gap: 64px;
}

#statement-change-textareas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

#statement-change-textareas > textarea {
  width: 30vw;
  height: 40vh;
  padding: 16px;
  box-sizing: border-box;
}

#sws-theme-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: auto;
  gap: 16px;
}

.loader-input {
}

#edit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  gap: 16px;
}

#save-poem {
}
